<% provide(:title, '写真選定') %>

<%= form_tag(iine_path, method: :post) do %>
  <% @pictures.each do |picture| %>
    <input type='hidden' class='picture_ids' name='picture_ids[]' value='<%= picture.id %>'>
    <button id='<%= picture.id %>' name='iine_id' value='<%= picture.id %>'>
      <img src="<%= picture.path %>">
    </button>
  <% end %>
<% end %>
